<div class="albums-menu-container">

  <mat-action-list *ngIf="albums$ | async as albums">
    <ng-container *ngFor="let album of albums">
      <button mat-list-item
              [selectItem]="selectedAlbum?.id === album.id"
              (click)="getPhotos(album)">
        {{ album.title }}
      </button>
    </ng-container>
  </mat-action-list>
</div>

<div class="albums-preview-container">
  <mat-toolbar>
    <span>{{ selectedAlbum?.title }}</span>
  </mat-toolbar>

  <div class="photos-container">
    <ng-container *ngIf="photos$ | async as photos">
      <ng-container *ngFor="let photo of photos">
        <mat-card class="photo-card"
                  (click)="showPhotoPreview(photo)">
          <mat-card-content>
            <img [src]="photo.thumbnailUrl" alt="">
          </mat-card-content>
          <mat-card-title>
            {{ photo.title }}
          </mat-card-title>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>
