:host {
  display: flex;
  max-width: 100vw;

  .albums-menu-container {
    width: 300px;
  }

  .albums-preview-container {
    flex: 1;

    .photos-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px 10px;
      flex: 1;

      mat-card {
        min-width: 250px;
        margin: 5px;
        cursor: pointer;

        > * {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  div.photos-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  div.photos-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  div.photos-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

